@tailwind base;
@tailwind components;
@tailwind utilities;


#stickySidebarImp {
    position: sticky;
    top: 100px !important;
  }
  
  @media (max-width: 768px) {
    #stickySidebarImp {
      position: static;
      top: 100px !important;
    }
  }
  